.square {
  background-color: white;
  color: white;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.empty-square {
  color: black;
  background-color: gray;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.flagged-square {
  color: black;
  background-color: green;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.exploded-square {
  color: black;
  background-color: red;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.row {
  height: 30px;
}


.invalid{
    border: solid red 1px;
}


/* Setup Process */
#setup{
    text-align: center;
}

#setup input{
    text-align: center;
    width: 50px;
    margin: 10px;
    padding: 10px;
}

#setup button{
    padding: 10px;
}